@model IEnumerable<Project.Models.EmpModel>

@{
    ViewBag.Title = "GetAllEmpDetails";
}

<h2>GetAllEmpDetails</h2>

<p>
    @Html.ActionLink("Add New Employee", "Create")
</p>
<table class="table table-bordered">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.City)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Address)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.City)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Address)
        </td>
        <td>
            @Html.ActionLink("Edit", "EditEmpDetails", new { id = item.EmpId }, new { @class = "btn btn-info" }) |
            @Html.ActionLink("Details", "Details", new { id=item.EmpId },new { @class = "btn btn-warning" }) |
            @Html.ActionLink("Delete", "DeleteEmp", new { id=item.EmpId },new { @class = "btn btn-danger" })
        </td>
    </tr>
}

</table>
